#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /g1646015/sgpt/index.php/$1 [L]
  #RewriteRule ^(.*)$ /sgpt/index.php/$1 [L]
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /g1646015/sgpt/index.php/$1 [L]
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /g1646015/sgpt/index.php
</IfModule>
